<!-- TECHLITE GROUP -SARA KENA - S303424 - HIT 226 Web Project  -->

<!DOCTYPE html>

<html lang="en">	

<head>
    <meta charset="utf-8" >
	<meta name="viewport" content="width=device-width,initial-scale=1.0">

	<title>TECHLITE GROUP</title>

    <!-- Javascript & CSS linked  - S303424 - HIT 226 Web Project  -->

	<script src="javascript/script.js"></script>
	<link rel="stylesheet" type="text/css" href="css/styles.css"/>
	<link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Big+Shoulders+Stencil+Display:wght@300;400;600;700;800;900&display=swap">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
   
</head>

<body>

<!-- Section header/Nav  - S303424 -  HIT 226 Web Projects -->
<section class='header'>
	<nav>
     <a href="index.html"><img id="tglogo" src="images/tglogo.png" alt="logo"/></a>
	 <div class= "nav-links">
		<i class="fas fa-times"></i>
		 <ul>
			<li><a href="#home_content">HOME</a></li>
			 <li><a href="#about_content">ABOUT</a></li>
			 <li><a href="#contact_content">CONTACT</a></li>
		 </ul>
	 </div>
	 <i class="fas fa-bars"></i>
	</nav>
<div class="text_box">
	<h1 id="home_content"><strong>TECHLITE GROUPS</strong></h1>
	<p>In the year 2021, Tech Groups was founded. Despite the fact that the company is still in its first year, the members who work for it have 3-4 years of expertise in the fields of computer hardware, IT, and security solutions. We are not only capable of  selling products, but also of providing a variety of services and meeting the needs of our customers.We also guarantee a long-term, mutually beneficial connection. You will receive premium-quality, well-known products at amazing and appealing costs. We want to keep our customers satisfied for a lifetime by delivering cost-effective solutions to their needs and assisting them in every manner possible.Our product has established the gold standard for a number of other businesses in their pursuit of excellence. We work hard to keep quality under control and assure client happiness. We also provide excellent after-sales service. Our goal is to provide unrivalled service while keeping one thing in mind: "Your Service is Our Priority."</p>
	   <a href="#about_content" class="more-btn">Click here to Know More!</a>
</div>
</section>

<!-- Section ABOUT  - S303424 -  HIT 226 Web Project -->

<section class = "ABOUT">
	<h1 id="about_content"><strong>COMPANY PROFILE</strong></h1>
	<p>Techlite is a company comprised of a strong research and development team that will provide assistance and services to our valued client. We don't just sell products; we also offer a variety of services and maintenance to our customers.It has steadily increased in size and operation throughout the years. As a result, Techlite Groups is undeniably valuable in today's industry, offering the most up-to-date technological solutions. </p>
	<p>This company's ongoing growth may be attributed to its brawny methods and actions, specialised approach, premium and cutting-edge technology, as well as highly driven and inventive employees. Despite the fact that the company is still in its first year, the members who work for it have 3-4 years of expertise in the fields of computer hardware, IT, and security solutions. We have three locations across Australia and are currently growing.</p>

	<div class="row">

		<div class="Service">
			<h3>Printer Repair</h3>
			<p>We depend on our Printers , But when they don’t work Its drives us crazy .We find ourself so little time to get things work done.</p>
		</div>	
        <div class="Service">
			<h3>Desktop Repair</h3>
			<p>We depend on our PCs – they should just work. But they don’t.They spit out indecipherable errors, crash more often than a toddler that skipped his nap, and to top it off you can’t get a WiFi signal in your bedroom. Never fear – we can fix it.</p>
		</div>	
        <div class="Service">
			<h3>Laptop Repair</h3>
			<p>Until someone develops an indestructible laptop, we’ll be here to replace broken screens ,figure out why your battery won’t hold a charge and upgrade the heck out of that laptop so it’s primed to follow you wherever you want to go.</p>
		</div>	
	</div>

</section>

<!-- Section CONTACT  - S303424 -  HIT 226 Web Project -->

<section class ="CONTACT">

	<h1 id="contact_content"><strong>CONTACT US</strong></h1>

	<form name ="contactform" onsubmit="return validate()" action= "images/thankyou-message.jpg" id ="contactform" method="POST">
	{% csrf_token %}
	<div class="formgroup" >
		<label for="names">Your name*</label>
		<input type="text" id="names" name="names" size="65" />
	</div>
	
	<div class="formgroup" >
		<label for="emails">Your e-mail*</label>
		<input type="email" id="emails" name="emails" size="65" />
	</div>
	
	<div class="formgroup" >
		<label for="messages">Your message</label>
		<textarea id="messages" name="messages" ></textarea>
	</div>
	
	<input type="submit" value=" Send your message !"/> >

	</form>

</section>
<!-- Section FOOTER - S303424 -  HIT 226 Web Project -->
<section>
<footer>
	<div class="copyright">
	  <h5>COPYRIGHT 2021 - TECHLITE GROUP</h5>
	</div>
  </footer>
</section>

</body>
</html>